.title {
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    background-color: rgb(103, 189, 255);
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(20, 145, 248);
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.2s;
}

.title:hover {
    color: rgb(20, 145, 248);
    background-color: white

}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.picture {
    width: 100%;
    border-radius: 15px;
}

.frame {
    transition: 0.15s;
}

.frame:hover {
    opacity: 0.7;
}
