body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(231, 243, 247);
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    background: linear-gradient(90deg, rgb(231, 243, 247), rgb(213, 251, 187), rgb(231, 243, 247));
    padding: 0.5rem;
}

#game-container .game {
    margin: 1.5rem 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    width: 25%;
    min-width: 150px;
    border: 5px rgb(116, 116, 252) dashed;
    border-radius: 30px;
    padding: 30px;
    background: white;
    color: rgb(76, 74, 74);
    transition-duration: 0.3s;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 40%);
}

#game-container .game:hover{
    transform: scale(1.05);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 50%);
}

#game-container {
    display: flex;
    flex-flow: row wrap;
    width: 70vw;
    justify-content: space-around;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: black;
}

a:active {
    color: rgb(231, 63, 63);
}